.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/shop.jpg");
  min-height: calc(100vh - 2.5rem);
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: gray;
}

.content p {
  color: white;
  font-size: 3rem;
  text-align: center;
}
