nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  padding: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
